/* You can customize here without going too deep. */

.commentcount {
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  color: #9a9a9a !important; /* I'm such an amateur */
}

.tablecaption {
  font-weight:  bolder;
  text-align:  center;
  margin-bottom:  20px;
}

.figcaption {
  font-weight:  bolder;
  text-align:  center;
  margin-bottom:  30px;
}

p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-style:  solid;
  border-color:  grey;
  border-width:  thin;
  padding:  5px 5px 5px 5px;
}

table, th, td {
  border: 1px solid black;
}

td {
  text-align: center;
}

table, td, th {
  border:1px solid grey;
}

th {
  background-color: #6a9fb5;
  color:white;
}

table {
  margin-left:auto;
  margin-right:auto;
  margin-bottom:  30px;
}


dt {
  display:  block;
  font-weight:  bolder;
  margin-bottom:  15px;

}

dd {
  display:  block;
  border-style:  double;
  border-color:  blue;
  border-width:  medium;
  padding:  5px 5px 5px 5px;
  margin-bottom:  15px;
}

dl {
  margin-bottom:  30px;
}


/* add by ctfysh */
body,ul {     /*组合选择器*/
    list-style: none;    /*清除列表默认样式*/
    padding: 0;      /*清除padding*/
    margin: 0;
}
        
li{
    float: left;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

ul.pagination li a.active {
    background-color: #6a9fb5;
    color: white;
    border: 1px solid #6a9fb5;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

li.page-item.active a {
    background-color: #6a9fb5;
    color: white;
    border: 1px solid #6a9fb5;
}            
